@import 'styles';

.card {
  background-color: $cen-violet;
  position: relative;
  cursor: pointer;
  min-height: 240px;
  text-align: left;

  .card-header {
    padding-top: 10px;

    .kebab-icon {
      font-size: 60px;
      width: 60px;
      height: 60px;
      cursor: context-menu;
    }

    .avatar-icon {
      font-size: 40px;
      line-height: 60px;
    }
  }

  .text-container {
    position: relative;
    padding: 0;
    margin-top: 0px;
    padding-left: 30px;

    .request-header {
      padding-top: 10px;
    }

    .request-member-id {
      color: $cen-yellow;
      padding-top: 10px;
    }

    .request-date {
      padding-top: 10px;
    }

    .dash {
      font-weight: 700;
    }
  }
}
