<div class="col-xs-12 card" [routerLink]="['/claim/', 1]">
  <div class="row end-xs card-header">
    <div class="avatar-icon material-icons">account_circle</div>
    <div class="kebab-icon material-icons">more_vert</div>
  </div>
  <div class="col-xs-12 text-container">
    <h1 class="request-header">{{claimGroup.CLAIM_COUNT}} Requests</h1>
    <h3 class="request-member-id">{{claimGroup.MEMBER_ID}}</h3>
    <p class="request-date">
      Effective date: {{ claimGroup.CLAIM_DATE_RECEIVED | date:'shortDate' }}
      <span>
        -
      </span>
      {{claimGroup.CLAIM_CHARGE_TOTAL | currency: "USD"}}
    </p>
  </div>
</div>