<div *ngIf="doneLoading; else loadingLogo">
    <app-claim-header [claimNumber]="claimNumber"></app-claim-header>
    <app-claim-body [serviceLineData]="serviceLineData" [oicData]="oicData"></app-claim-body>
</div>

<ng-template #loadingLogo>
    <app-fancy-loader></app-fancy-loader>
</ng-template>
