@import 'styles';

.login-container {
  margin-top: 60px;
}

.login-button {
  background-color: $cen-yellow;
  padding: 8px 24px;
  @include font-family(18px, $cen-black, normal);
  border: none;
  border-radius: 2px;
  cursor: pointer;
}
