<section class="claim-header row middle-xs">
  <div class="content col-xs-9 col-xs-offset-1 col-sm-10 col-sm-offset-1">
    <h4 class="type">Medicaid via Electronic</h4>
    <h1 class="number">{{claimNumber}}<span id="copy-claim" (click)="copyClaimNumber(' copied', 'DISMISS')">
      <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect y="5.18506" width="14.8149" height="14.8148" rx="3" fill="#00AEEF" />
        <rect x="6.18506" y="1" width="12.8149" height="12.8148" rx="2" stroke="#00AEEF" stroke-width="2" />
      </svg>
      copy
    </span></h1>
    <h2 class="plan">COB Adjustment</h2>
    <h4 class="eligibility">10/1/2019 - Current</h4>
    <div class="pend-status row">
      <h5 class="pend-status-title">Status:</h5>
      <span>
        <mat-chip-list class="pend-status-chip-list" [selectable]="false" aria-orientation="horizontal">
          <mat-chip class="pend-status-chip">41: Manually Pended</mat-chip>
        </mat-chip-list>
      </span>
    </div>
  </div>
  <app-icon-workbench class="col-xs-2 col-sm-1"></app-icon-workbench>
</section>
