@import 'styles';

$padding-bottom: 23px;

.claim-header {
  background: url('/assets/cen-blocks-nextgen-cyan.svg');
  background-color: $cen-violet;
  height: 412px;
  margin: 0;
  background-size: auto 628px;
  background-repeat: no-repeat;
  background-origin: content-box;
  background-position: bottom right;
  padding-bottom: $padding-bottom;
}

.type,
.eligibility {
  @include header-family(26px, $white, bold);
  line-height: 30px;
}

.eligibility {
  margin-top: 12px;
}

.number {
  @include header-family(109px, $white, bold);
  margin-top: 10px;
}

#copy-claim {
  @include header-family(16px, $cen-cyan, bold);
  display: inline-flex;
  transform: translateY(-150%);
  cursor: pointer;
  svg {
    padding: 0 5px;
  }
}

.plan {
  @include header-family(42px, $cen-yellow, bold);
  margin-top: 12px;
  line-height: 49px;
}

.pend-status {
  margin: 12px 0 0 0;
}

.pend-status-title {
  @include header-family(16px, $white, bold);
  line-height: 32px;
  margin-right: 12px;
}

.pend-status-chip {
  @include header-family(14px, $cen-blue, bold);
  background-color: $cen-yellow;
  padding: 7px 12px;
}
