<div class="jumbotron" id="content">
    <h1>Angular Folder Structure</h1>

    <p>
        Based on best practices from the community, other github Angular projects,
        developer experience from production Angular projects, and contributors,
        this project goal is to create a skeleton structure which is flexible
        for projects big or small.
    </p>

    <p>
        This project defines directory structure in an Angular application and it
        is a working application. The code for this project can be found at
        <a href="https://github.com/mathisGarberg/angular-folder-structure">
            https://github.com/mathisGarberg/angular-folder-structure
        </a>
    </p>
</div>