@import 'styles';

$bar-height: 72px;

.header {
  background-color: $cen-cyan;
  height: $bar-height;
  padding: ($bar-height / 4) 0;
  min-width: 100%;
  margin: 0;
}

.logo {
  height: $bar-height/2;
  padding-left: 15px;
}

.logo-type {
  height: 28px;
  padding-left: 10px;
  color: $cen-blue;
}

.user-icon {
  color: $cen-blue;
  font-size: 40px;
}

.user-info {
  padding-right: 40px;
}
