<div class="header row">
  <div class="logo-container col-xs-6">
    <img src="assets/images/dauntless-logo.svg" class="logo" />
    <img src="assets/images/dauntless-logotype-blue.svg" class="logo-type">
  </div>
  <div class="col-xs-6 user-info end-xs">
    <mat-icon class="user-icon">account_circle</mat-icon>
  </div>
</div>