<div class="container claim-body">
    <div class="row">

        <div class="col-sm-6 col-md-6 col-lg-6 table-header">
            Service Line
        </div>
        <div class="col-md-3 col-lg-3">
            <!-- PLACE HOLDER OF SHOW EOB BTN <p>Show EOB</p> -->
        </div>
        <div class=" col-md-3 col-lg-3">

            <!-- PLACE HOLDER FOR HIGLIGHT ADJUSTMENT <p>Highlight Adjustment</p> -->
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="box">
                <mat-table [dataSource]="serviceLineData.serviceLines" class="mat-elevation-z8">
                    <!-- Service line Number -->
                    <ng-container matColumnDef="serviceLine">
                        <mat-header-cell *matHeaderCellDef> Number </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.serviceLine}} </mat-cell>
                    </ng-container>

                    <!-- Product Column  -->
                    <!-- TODO: Check with design and backend on the data value -->
                    <ng-container matColumnDef="product">
                        <mat-header-cell *matHeaderCellDef> Product </mat-header-cell>
                        <mat-cell *matCellDef="let element"> Medicaid A&B </mat-cell>
                    </ng-container>

                    <!-- Procedure Column -->
                    <ng-container matColumnDef="procedures">
                        <mat-header-cell *matHeaderCellDef> Procedure </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.procedures}} </mat-cell>
                    </ng-container>

                    <!-- Amount Column -->
                    <ng-container matColumnDef="amount">
                        <mat-header-cell *matHeaderCellDef> Amount </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.amount | currency}} </mat-cell>
                    </ng-container>

                    <!-- Start Date  Column -->
                    <ng-container matColumnDef="startDate">
                        <mat-header-cell *matHeaderCellDef> Start </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.startDate | date:'shortDate'}} </mat-cell>
                    </ng-container>

                    <!-- End Column -->
                    <ng-container matColumnDef="endDate">
                        <mat-header-cell *matHeaderCellDef> End </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.endDate | date:'shortDate'}} </mat-cell>
                    </ng-container>

                    <!-- Allow Column -->
                    <ng-container matColumnDef="allow">
                        <mat-header-cell *matHeaderCellDef> Allow </mat-header-cell>
                        <mat-cell *matCellDef="let element">-</mat-cell>
                    </ng-container>


                    <!-- Pay Column -->
                    <ng-container matColumnDef="pay">
                        <mat-header-cell *matHeaderCellDef> Pay </mat-header-cell>
                        <mat-cell *matCellDef="let element">-</mat-cell>
                    </ng-container>

                    <mat-header-row *matHeaderRowDef="serviceLineCol"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: serviceLineCol;"></mat-row>
                </mat-table>
            </div>
        </div>
    </div>

    <div class="row oic-contianer">

        <div class="col-sm-12 col-md-12 col-lg-12 table-header">
            Other Insurance Carriers
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="box">
                <mat-table [dataSource]="oicData" class="mat-elevation-z8">
                    <!-- Policy Number  Number -->
                    <ng-container matColumnDef="altPolicyNbr">
                        <mat-header-cell *matHeaderCellDef> Policy <br> Number </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.altPolicyNbr}} </mat-cell>
                    </ng-container>

                    <!-- Carrier Column  -->
                    <ng-container matColumnDef="altCarrierName">
                        <mat-header-cell *matHeaderCellDef> Carrier </mat-header-cell>
                        <mat-cell *matCellDef="let element">
                            <span *ngIf="element.altCarrierName;else noCarrierName"> {{element.altCarrierName}} </span>
                            <ng-template #noCarrierName>N/A</ng-template>
                        </mat-cell>
                    </ng-container>

                    <!-- Procedure Column -->
                    <ng-container matColumnDef="effectiveDt">
                        <mat-header-cell *matHeaderCellDef> Start </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.effectiveDt | date:'shortDate'}} </mat-cell>
                    </ng-container>

                    <!-- Amount Column -->
                    <ng-container matColumnDef="endDt">
                        <mat-header-cell *matHeaderCellDef> End </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.endDt | date:'shortDate'}} </mat-cell>
                    </ng-container>



                    <mat-header-row *matHeaderRowDef="oicCol"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: oicCol;"></mat-row>
                </mat-table>
            </div>
        </div>
    </div>
</div>