@import 'styles';

.claim-body {
  margin-bottom: 4em;
}

.table-header {
  @include font-family(26px, $cen-black, normal);
  line-height: 30px;
  margin-top: 2em;
}
.mat-header-cell {
  @include font-family(18px, $cen-black, normal);
  line-height: 23px;
  letter-spacing: 0.15px;
  font-weight: 500;
  text-transform: uppercase;
}
.mat-header-row {
  border-bottom: 2px solid $cen-border-grey;
}
.mat-row {
  border-style: none;
}
.mat-cell {
  @include font-family(16px, $cen-black, normal);
}
.mat-row:nth-child(even) {
  background-color: $row-alt-color;
}
.oic-contianer {
  margin-top: 4em;
}
