<section class="icon-workbench row center-xs middle-xs">
  <ul class="around-xs center-xs" aria-label="Action list" aria-roledescription="Claim Navigation Tools">
    <li class="row-xs-1" id="open-activity" aria-label="Open activity modal">
      <svg width="30" height="40" viewBox="0 0 20 40" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" clip-rule="evenodd"
          d="M10.0003 13.3334C11.8337 13.3334 13.3337 11.8334 13.3337 10.0001C13.3337 8.16675 11.8337 6.66675 10.0003 6.66675C8.16699 6.66675 6.66699 8.16675 6.66699 10.0001C6.66699 11.8334 8.16699 13.3334 10.0003 13.3334ZM10.0003 16.6667C8.16699 16.6667 6.66699 18.1667 6.66699 20.0001C6.66699 21.8334 8.16699 23.3334 10.0003 23.3334C11.8337 23.3334 13.3337 21.8334 13.3337 20.0001C13.3337 18.1667 11.8337 16.6667 10.0003 16.6667ZM10.0003 26.6668C8.16699 26.6668 6.66699 28.1668 6.66699 30.0001C6.66699 31.8334 8.16699 33.3334 10.0003 33.3334C11.8337 33.3334 13.3337 31.8334 13.3337 30.0001C13.3337 28.1668 11.8337 26.6668 10.0003 26.6668Z"
          fill="" />
      </svg>
    </li>
    <li class="row-xs-1" aria-label="Open EOB image" (click)="openEobImage()">
      <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path
          d="M26.25 23.75V6.25C26.25 4.875 25.125 3.75 23.75 3.75H6.25C4.875 3.75 3.75 4.875 3.75 6.25V23.75C3.75 25.125 4.875 26.25 6.25 26.25H23.75C25.125 26.25 26.25 25.125 26.25 23.75ZM11.125 17.475L13.75 20.6375L17.625 15.65C17.875 15.325 18.375 15.325 18.625 15.6625L23.0125 21.5125C23.325 21.925 23.025 22.5125 22.5125 22.5125H7.525C7 22.5125 6.7125 21.9125 7.0375 21.5L10.15 17.5C10.3875 17.175 10.8625 17.1625 11.125 17.475Z"
          fill="" />
      </svg>
    </li>
    <li class="row-xs-1" aria-label="Open EOB image">
      <svg width="40" height="40" viewBox="0 0 25 30" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M0 0h24v24H0z" fill="none" />
        <path fill=""
          d="M19 5v14H5V5h14m1.1-2H3.9c-.5 0-.9.4-.9.9v16.2c0 .4.4.9.9.9h16.2c.4 0 .9-.5.9-.9V3.9c0-.5-.5-.9-.9-.9zM11 7h6v2h-6V7zm0 4h6v2h-6v-2zm0 4h6v2h-6zM7 7h2v2H7zm0 4h2v2H7zm0 4h2v2H7z" />
      </svg>
    </li>

    <li class="row-xs-1" id="copy-url" aria-label="Copy link to this claim">
      <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path
          d="M22.5 20.1C21.55 20.1 20.7 20.475 20.05 21.0625L11.1375 15.875C11.2 15.5875 11.25 15.3 11.25 15C11.25 14.7 11.2 14.4125 11.1375 14.125L19.95 8.9875C20.625 9.6125 21.5125 10 22.5 10C24.575 10 26.25 8.325 26.25 6.25C26.25 4.175 24.575 2.5 22.5 2.5C20.425 2.5 18.75 4.175 18.75 6.25C18.75 6.55 18.8 6.8375 18.8625 7.125L10.05 12.2625C9.375 11.6375 8.4875 11.25 7.5 11.25C5.425 11.25 3.75 12.925 3.75 15C3.75 17.075 5.425 18.75 7.5 18.75C8.4875 18.75 9.375 18.3625 10.05 17.7375L18.95 22.9375C18.8875 23.2 18.85 23.475 18.85 23.75C18.85 25.7625 20.4875 27.4 22.5 27.4C24.5125 27.4 26.15 25.7625 26.15 23.75C26.15 21.7375 24.5125 20.1 22.5 20.1Z"
          fill="" />
      </svg>
    </li>
  </ul>
</section>
