@import 'styles';

section.icon-workbench {
  position: relative;
  height: 412px; //header height

  ul {
    padding: 0;
    margin: 0;
    height: 75%;
    display: flex;
    flex-direction: column;

    li {
      list-style-type: none;

      &:hover {
        cursor: pointer;
      }

      svg {
        fill: white;
        transition: fill 100ms ease-out;

        &:hover {
          fill: $cen-cyan;
        }
      }
    }
  }
}
