#fancy-load {
  width: 100vw;
  height: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
  position: fixed;
  top: -50px;
  z-index: 100;
  transition: all 200ms ease-out;
}

#fancy-load img {
  width: 150px;
  height: 150px;
  align-self: center;
}
