<div id="content">
  <app-change-view (selectEvent)="selectView($event)"></app-change-view>
  <div class="dashboard">
    <div class="row center-xs start-md claim-group-container" *ngIf="selectedView === 'grid'">
      <div class="col-xs-12 col-sm-8
        col-md-6
        col-lg-4 claim-group" *ngFor="let claimGroup of claimGroups">
        <app-card [claimGroup]="claimGroup"></app-card>
      </div>
    </div>
    <div *ngIf="selectedView === 'carousel'" class="row">
      <div class="col-xs-12">
        <h1 class="carousel-text">Carousel View Here</h1>
      </div>
    </div>
  </div>
</div>
