@import 'styles';

.container {
  background-color: $cen-bg-white;
  border-radius: 5px;
  max-width: 100%;
}

.header {
  max-width: 100%;
  margin: 0;
  padding: 2vh 2vw;
}

.title {
  @include header-family(42px, $cen-blue, bold);
  line-height: 49px;
}

.close {
  cursor: pointer;
  background-color: $cen-bg-white;
}

.close-text {
  @include header-family(16px, $black, bold);
  line-height: 42px;
  padding-right: 1em;
}

.eob-viewer {
  width: 100%;
  height: auto;
}

.error-svg-container {
  min-height: 65vh; //TOOD: revisit svg container height
}

.content {
  min-height: 65vh; //TODO: revisit dialog height
}

.mat-dialog-content.pdf {
  display: flex; //TODO: revisit dialog scroll
}
