<section class="container">
  <div class="header row between-xs">
    <h2 class="title col-xs-8">{{contentType === 'error/svg' ? 'Image not available' : 'EOB'}}</h2>
    <button mat-button (click)="closeDialog()" class="close">
      <span class="close-text">CLOSE</span>
      <span class="close-icon">
        <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M14 1.41L12.59 0L7 5.59L1.41 0L0 1.41L5.59 7L0 12.59L1.41 14L7 8.41L12.59 14L14 12.59L8.41 7L14 1.41Z"
            fill="black" />
        </svg>
    </span>
  </button>
  </div>
  <mat-dialog-content [class]="{content: true, pdf: contentType === 'application/pdf'}">
    <embed *ngIf="contentType !== 'error/svg'" [src]="blobUrl" [type]="contentType" class="eob-viewer">
    <div *ngIf="contentType === 'error/svg'" class="error-svg-container row middle-xs center-xs">
      <svg id="error-svg" width="123" height="120" viewBox="0 0 123 120" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path
          d="M96 66V108H12V24H42.12C42.42 19.74 43.44 15.72 45 12H12C5.4 12 0 17.4 0 24V108C0 114.6 5.4 120 12 120H96C102.6 120 108 114.6 108 108V78L96 66ZM87 96H21L37.5 74.82L49.26 88.98L65.76 67.74L87 96ZM103.8 41.34C106.44 37.14 108 32.28 108 27C108 12.06 95.94 0 81 0C66.06 0 54 12.06 54 27C54 41.94 66.06 54 80.94 54C86.22 54 91.14 52.44 95.28 49.8L114 68.52L122.52 60L103.8 41.34ZM81 42C72.72 42 66 35.28 66 27C66 18.72 72.72 12 81 12C89.28 12 96 18.72 96 27C96 35.28 89.28 42 81 42Z"
          fill="#B7B7B7" />
      </svg>
    </div>
  </mat-dialog-content>
</section>
