<div class="container-fluid full-width-image">
  <div class="auth-container row center-xs middle-xs">
    <div class="auth-card col-xs-10 col-sm-8 col-md-6">
      <div class="logo-container col">
        <div class="row-xs-12">
          <img class="logo-icon" src="../../../assets/images/dauntless-logo.svg" />
        </div>
        <div class="row-xs-12">
          <img class="logo-text" src="../../../assets/images/dauntless-logotype-blue.svg" />
        </div>
      </div>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>