@import 'styles';

.full-width-image {
  min-height: 100vh;
  width: 100vw;
  background: linear-gradient(201.73deg, $cen-blue 21.27%, $cen-violet 76.45%);
}

.container-fluid {
  padding-bottom: 9rem;
}

.auth-container {
  height: 100vh;
  margin: 0px;
}

.logo-icon {
  height: 200px;
  padding: 40px 0;
}

.logo-text {
  height: 50px;
}

.auth-card {
  background-color: $cen-cyan;
  border-radius: 5px;
  min-height: 500px;
  box-shadow: 0px 37px 80px #201327;
}
