<footer class="footer">
    <hr>
    <div class="container">
        <span class="text-muted">
            &copy; 2019 Mathis Garberg,
            <a href="mailto:tom.h.anderson@gmail.com">Tom H Anderson</a>,
            and contributors.
            <a href="https://github.com/mathisGarberg/angular-folder-structure">
                https://github.com/mathisGarberg/angular-folder-structure
            </a>
        </span>
    </div>
</footer>