<div class="row end-xs change-view middle-xs">
  <p class="change-view-text">Change View</p>
  <mat-button-toggle-group name="changeView" (change)="selectView($event)">
    <mat-button-toggle class="view-toggle" ngDefaultControl value="grid">
      <mat-icon [inline]="true" [ngClass]="{'view-icon': true, selected: selectedView === 'grid'}">view_module
      </mat-icon>
    </mat-button-toggle>
    <mat-button-toggle class="view-toggle" ngDefaultControl value="carousel">
      <mat-icon [inline]="true" [ngClass]="{'view-icon': true, selected: selectedView === 'carousel'}">view_carousel
      </mat-icon>
    </mat-button-toggle>
  </mat-button-toggle-group>
</div>
