@import 'styles';

.view-icon {
  color: $cen-cyan;
  font-size: 24px;

  &.selected {
    font-size: 36px;
  }
}

.change-view-text {
  color: $black;
  font-size: 14px;
  line-height: 24px;
}

.change-view {
  padding: 0 20px;
}
