@import 'styles-variables';
@import 'styles-mixins';

@import 'style-reset';

@import '~@angular/material/theming';

@include mat-core();

// @import './styles/themes/black-theme.scss';
// @import './styles/themes/light-theme.scss';

// // import custom component themes here
// @import 'styles-reset.scss-theme';
// @import 'app/modules/home/page/project-item/project-container.component.scss-theme.scss';

// @mixin custom-components-theme($theme) {
//   @include my-styles-reset-theme($theme);
//   @include my-project-container-component-theme($theme);
// }

// .my-light-theme {
//   @include angular-material-theme($my-light-theme);
//   @include custom-components-theme($my-light-theme);
// }

// .my-dark-theme {
//   @include angular-material-theme($my-black-theme);
//   @include custom-components-theme($my-black-theme);
// }

// body {
//   margin: 0px !important;
// }

h1 {
  @include header-family(50px, $white, 900);
}

h2 {
  @include header-family(42px);
}

h3 {
  @include header-family(30px, $white, 700);
}

h4 {
  @include header-family(26px, $white, 500);
}

h5 {
  @include header-family(16px);
}

body,
p {
  @include header-family(16px, $white, 500);
}

body {
  overflow: auto;
  margin: 0;
  padding: 0;
}

em {
  font-style: inherit;
  color: inherit;
  transition: all 200ms ease-out;

  &.highlight {
    color: #7f22fd;
    text-shadow: 0px 2px 3px transparentize(#7f22fd, 0.8);
  }
}

.material-icons {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

.dauntless-snackbar {
  &.mat-snack-bar-container {
    width: 375px;
    display: block;
    background: $cen-black;
    color: $white;
    white-space: normal;
    padding: 20px 16px;
    button.mat-button {
      span.mat-button-wrapper {
        color: $cen-cyan;
      }
    }
  }
}
