@mixin font-family($size, $color: $white, $weight: normal) {
  font-family: 'Roboto', sans-serif;
  font-size: $size;
  line-height: 1em;
  letter-spacing: normal;
  font-weight: $weight;
  color: $color;
}

// Pass size as 12px, weight and color are optional
@mixin header-family($size, $color: $white, $weight: normal) {
  font-family: 'Roboto', sans-serif;
  font-size: $size;
  line-height: 1em;
  font-weight: $weight;
  color: $color;
  margin: 0;
  padding: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
