$black: #000000;
$white: #ffffff;
$cen-warm-grey: #8d867c;
$cen-grey: #6f6f6f;
$cen-bg-white: #fbfbfb;
$cen-bg-grey: #e5e5e5;
$cen-border-grey: #b7b7b7;
$cen-grey-ac: #6f6f6f;
$cen-yellow: #feb834;
$cen-turq: #00b5bd;
$cen-turq-ac: #058181;
$cen-cyan: #00aff0;
$cen-black: #454545;
$cen-cyan-ac: #117ca5;
$cen-green: #8eb835;
$cen-green-ac: #8eb835;
$cen-blue: #003d72;
$cen-blue-ac: #00558d;
$cen-magenta: #d01e68;
$cen-violet: #603878;
$cen-sienna: #d85229;
$cen-sienna-ac: #cc3928;
$cen-evergreen: #448a57;
$cen-evergreen-ac: #4c803c;
$cen-sea: #008e8f;
$cen-sea-ac: #058181;
$cen-orange: #f47122;
$cen-gradient: linear-gradient(82deg, $cen-violet 20%, $cen-cyan 100%);

$d-transparent-grey: rgba(0, 0, 0, 0.12);
$d-pale-red: #f8e3dd;
$d-transparent-red: rgba(215, 81, 40, 0.29);
$d-pale-green: #f8faf4;
$d-transparent-green: rgba(141, 183, 52, 0.25);

$roboto-black: 'Roboto-Black', sans-serif;
$roboto-bold: 'Roboto-Bold', sans-serif;
$roboto-reg: 'Roboto-Regular', sans-serif;

$claim-pill-height: 32px;

$row-alt-color: #f4f7f9;
